<section class="section">
  <div class="container is-font-index">
    <div class="columns is-multiline">
      <div class="column is-10 is-offset-2">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-9">
            <div class="tile">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <div class="content">
                    <p class="title">
                      <%= @recipe.title %>
                    </p>
                    <p class="subtitle">
                      <%= @recipe.description %>
                    </p>
                  </div>
                    <div class="content">
                      <h6>Author:</h6>
                      <%= link_to (@recipe.user.handle), user_path(@recipe.user) %>
                      <h3>Ingridients:</h3>
                      <ul>
                        <% @recipe.ingridients.each do |ingridient|%>
                          <li><%= ingridient.content %>
                          <% if logged_in? && equal_with_current_user?(@recipe.user) %>
                            <%= link_to 'Edit', edit_recipe_ingridient_path(ingridient.recipe, ingridient), class:'button is-small is-link is-light is-rounded right-aligned' %>
                          <% end %>
                          </li>
                          <br>
                        <% end %>
                        <br>
                        <% if logged_in? && equal_with_current_user?(@recipe.user)  %>
                          <%= link_to "Add Ingridient", new_recipe_ingridient_path(@recipe), class:" button is-small is-link" %>
                        <% end %>
                      </ul>
                      <h3>Istructions:</h3>
                      <ol>
                        <% @recipe.instructions.each do |instruction|%>
                          <li><%= instruction.direction %>
                          <% if logged_in? && equal_with_current_user?(@recipe.user) %>
                            <%= link_to 'Edit', edit_recipe_instruction_path(instruction.recipe, instruction), class:'button is-small is-link is-light is-rounded right-aligned' %>
                          <% end %>
                          </li>
                          <br>
                        <% end %>
                        <br>
                        <% if logged_in? && equal_with_current_user?(@recipe.user) %>
                          <%= link_to "Add Instruction", new_recipe_instruction_path(@recipe), class:" button is-small is-link" %>
                        <% end %>
                      </ol>
                      <% if logged_in? && equal_with_current_user?(@recipe.user) %>
                      <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: 'button is-link' %>
                      <% end %>
                      <%= link_to "Back", root_path, class: 'button is-link is-light' %>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>