<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-10 is-offset-2">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-9">
            <div class="tile">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <div class="content">
                    <p class="title">
                      <%= @recipe.title %>
                    </p>
                    <p class="subtitle">
                      <%= @recipe.description %>
                    </p>
                  </div>
                    <div class="content">
                      <h6>Author:</h6>
                      <%= link_to (@recipe.user.handle), user_path(@recipe.user) %>
                      
                      <h3>Ingridients:</h3>
                      <ul>
                        <% @recipe.ingridients.each do |ingridient|%>
                          <li><%= ingridient.content %></li>
                        <% end %>
                      </ul>

                      <h3>Istructions:</h3>
                      <ol>
                        <% @recipe.instructions.each do |instruction|%>
                          <li><%= instruction.direction %></li>
                        <% end %>
                      </ol>

                      <%= link_to "Edit", edit_recipe_path(@recipe), class: 'button is-link' %>
                      <%= link_to "Back", root_path, class: 'button is-link is-light' %>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>